* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Smythe", system-ui;
}

body {
    max-width: 700px;
    margin: 0 auto
}


header {
    padding: 2rem 2rem 3rem 2rem;
    background-image: url('./images/headerImage.png');
    background-size: cover;
    color: #ffffff;

}

/* Menu */

.menu {
    padding: 2rem 3rem;
    
    /* background-color: darkorchid; */
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 3rem 0;
    border-bottom: 2px solid #D2D2D2;
}

.item-img {
    /* max-width: 100%; */
    width: clamp(3rem, 10vw, 5rem);
    height: auto;
}

.item-info {
    margin-left: 1.5rem;
}

.item-name {
    font-size: 1.75rem;
}

.item-ingredients {
    font-weight: 400;
    font-size: 1rem;
    color: #8B8B8B;
}

.item-price {
    font-size: 1.25rem;
    margin-top: 1rem;
}

.add-btn {
    margin-left: auto;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 100;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid #dedede;
    background-color: #ffffff;
    vertical-align: top;
}


/* Checkout */

.checkout {
    padding: 0 3rem 2rem;
    /* background-color: crimson; */
    font-size: 1.75rem;
}

.checkout-content {
    
}

.checkout-content-wraper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: rgb(59, 155, 190); */
}

.checkout-heading {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 1.75rem;
    font-weight: 500;
}

.checkout-lines-container {
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #393333;
    /* padding: 1rem; */
}

.checkout-item-div {
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: 1rem ;
}

.checkout-item-info {
    display: flex;
    gap: 10px;
}

.checkout-remove-btn {
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    color: #BBBBBB;
    background-color: #ffffff;
}

.checkout-total-div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 0.5rem;
}

.checkout-complete-btn {
    margin-top: 2rem;
    padding: 1rem 0;
    background-color: #16DB99;
    color: #ffffff;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5rem;
    border: none;
    box-shadow: 0px 1px 2px 0px #0000000d;
    border-radius: 3px;
}

.add-btn, .checkout-remove-btn,
.checkout-complete-btn {
    cursor: pointer
}

 
/* utility  */
 /* .hidden{
    display: none;
} */


.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: #ffffff45;
    
}

.modal-inner{
    
    background-color: #212529;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px #666;
    color: whitesmoke;
}

.close-modal-btn-container{
    text-align: right;
    margin: 9px;
}


.modal-close-btn {
  font-size: 22px;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid transparent;
  color: whitesmoke;
}