* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Smythe", system-ui;
}


header {
    padding: 2rem 2rem 3rem 2rem;
    background-image: url('./images/headerImage.png');
    background-size: cover;
    color: #ffffff;

}

#menu {
    padding: 2rem;
}

.menu-item {
    /* background-color: orangered; */
    display: flex;
    align-items: center;
    padding-bottom: 3rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #D2D2D2;
}

.item-img {
    /* background-color: darkorchid; */
    max-width: 100%;
    height: auto;
}

.item-info {
    /* background-color: aqua; */
    margin-left: 1.5rem;
}

.item-name {
    font-size: 1.75rem;
}

.item-ingredients {
    color: #8B8B8B;
}

.item-price {
    font-size: 1.25rem;
    margin-top: 1rem;
}

.add-btn {
    margin-left: auto;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 100;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid #dedede;
    cursor: pointer;
    background-color: #ffffff;
    vertical-align: top;
}



/* utility */
.hidden{
    display: none;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: #ffffff45;
    
}

.modal-inner{
    width: 290px;
    margin: 0 auto;
    background-color: #212529;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px #666;
    color: whitesmoke;
}

.close-modal-btn-container{
    text-align: right;
    margin: 9px;
}


.modal-close-btn {
  font-size: 22px;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid transparent;
  color: whitesmoke;
}